@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/base";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
}
::-webkit-scrollbar {
	width: 10px;
	height: 5px;
}
::-webkit-scrollbar-thumb {
	background-color: #393f52;
	border-radius: 10px;
	height: 200px;
}

::-webkit-scrollbar-track {
	background-color: rgb(3 7 18);
}
::selection {
	color: rgb(255, 255, 255);
	background-color: rgb(135, 79, 224);
}
