@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/base";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
*{
  font-family: 'Roboto' , sans-serif;
}
h3 {
	color: #03182c;
	background: linear-gradient(to right, #0a5796 , #8c00ff);
}
::-webkit-scrollbar {
	width: 10px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: #393f52;
	border-radius: 10px;
	height: 200px;
}


::-webkit-scrollbar-track {
	background-color: rgb(3 7 18);
}
